@import 'partials/mixins';
@import 'partials/variables';

#wrapper {
  background-color: $color-bg;
  color: $color-fg;
  @include font($family: 'OrkneyRegular', $size: large);
  a {
    color: khaki;
    text-decoration: none;
    &:visited { color: chocolate }
  }
  img { vertical-align: middle }
  li { padding-bottom: 2px }
}
