@import 'partials/mixins';
@import 'partials/variables';

#wrapper {
  background-color: $color-bg;
  color: $color-fg;
  @include font($family: 'AvdiraRegular', $size: larger);
  h1 { font-size: xx-large }
  h2 { font-size: x-large }
  li { padding-bottom: 2px }
}

#lists a {
  display: block;
  padding: 5px;
}

.desc {
  @include font($weight: bold, $size: medium);
  margin-top: -5px;
  span:last-child { text-decoration: underline }
}

.category {
  @include font($weight: 600, $size: x-large);
  color: inherit;
  text-decoration: none;
}

.translated { font-weight: bold }

.localized {
  font-weight: bold;
  text-decoration: underline;
}

.note {
  display: inline-block;
  padding-left: 8px;
  @include font($weight: normal, $style: italic);
}

@each $status, $color in $status-colors {
  .#{$status} .note { color: $color }
}

.twitter, .milk { color: $color-link }
