@import "_variables"

#wrapper
  background-color: color-bg
  color: color-fg
  font-size: large
  font-family: "OrkneyRegular", sans-serif
  a
    color: khaki
    text-decoration: none
    &:visited
      color: chocolate
  img { vertical-align: middle }
  li { padding-bottom: 2px }
