#wrapper {
  background-color: #222;
  color: #EEE;
  font-family: "AvdiraRegular", sans-serif;
  font-size: larger;
}

#wrapper h1 {
  font-size: xx-large;
}

#wrapper .desc {
  font-weight: bold;
  font-size: medium;
  margin-top: -5px;
}

#wrapper .desc span:last-child {
  text-decoration: underline;
}

#wrapper .category {
  font-weight: 600;
  font-size: x-large;
  color: inherit;
  text-decoration: none;
}

#wrapper li {
  padding-bottom: 2px;
}

#wrapper .translated {
  font-weight: bold;
}

#wrapper .localized {
  font-weight: bold;
  text-decoration: underline;
}

#wrapper .note {
  display: inline-block;
  padding-left: 8px;
  font-weight: normal;
  font-style: italic;
}

#wrapper .completed .note {
  color: forestgreen;
}

#wrapper .ongoing .note {
  color: aqua;
}

#wrapper .hiatus .note {
  color: tomato;
}

#wrapper .upcoming .note {
  color: khaki;
}

#wrapper .partial .note {
  color: lightseagreen;
}

#wrapper .discontinued .note {
  color: crimson;
}

#wrapper .unknown .note {
  color: orange;
}

#wrapper .twitter, #wrapper .milk {
  color: #0BF;
}
