#wrapper {
    background-color: #222;
    color: #EEE;
    font-size: 16px;
}

#wrapper .desc {
    font-size: 14px;
}

#wrapper .desc span {
    font-weight: bold;
}

#wrapper .desc span:last-child {
    text-decoration: underline;
}

#wrapper .category {
    color: inherit;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
}

#wrapper li {
    padding-bottom: 3px;
}

#wrapper .translated {
    font-weight: bold;
}

#wrapper .localized {
    font-weight: bold;
    text-decoration: underline;
}

#wrapper .note {
    display: inline-block;
    padding-left: 8px;
    font-weight: normal;
    font-style: italic;
}

#wrapper .completed .note {
    color: forestgreen;
}

#wrapper .ongoing .note {
    color: aqua;
}

#wrapper .hiatus .note {
    color: tomato;
}

#wrapper .upcoming .note {
    color: khaki;
}

#wrapper .partial .note {
    color: lightseagreen;
}

#wrapper .discontinued .note {
    color: crimson;
}

#wrapper .twitter, #wrapper .milk {
    color: #0BF;
}
