include _mixins.pug

doctype html
html
  head
    +utf8()
    +lastmod()
    +generator()
    +favicon('https://avatars1.githubusercontent.com/u/24971970', 'jpeg')
    +stylesheet('https://fontlibrary.org/face/orkney')
    +stylesheet('/styles/main.css')
    title Home ~ Observer of Time
  body#wrapper
    include:markdown-it ../README.md

