$color-bg: #222;
$color-fg: #EEE;
$color-link: #0BF;
$status-colors: (
  completed: forestgreen,
  ongoing: aqua,
  hiatus: tomato,
  upcoming: khaki,
  partial: lightseagreen,
  discontinued: crimson,
  unknown: orange
);
