include ../_mixins.pug

doctype html
html
  head
    +utf8()
    +lastmod()
    +generator()
    +favicon('https://cdn.discordapp.com/emojis/324403123169001482.png', 'png')
    +stylesheet('https://fontlibrary.org/face/avdira-textfonts')
    +stylesheet('/styles/sciadv.css')
    title SciADV Lists
  body#wrapper
    -
      var titles = [
        'Chaos;Head',
        'Steins;Gate',
        'Robotics;Notes',
        'Chaos;Child'
      ]
    nav#lists
      each val in titles
        a.milk.link(href=`${val.replace(';', '')}Milk.html`)= val
