include ../mixins.pug

doctype html
html
  head
    +utf8()
    +lastmod()
    +generator()
    +favicon('https://cdn.discordapp.com/emojis/324403123169001482.png', 'png')
    +stylesheet('https://fontlibrary.org/face/avdira-textfonts')
    +stylesheet('/styles/sciadv.css')
    title Steins;Gate Milk
  body#wrapper
    h1 Steins;Gate Material
    +desc()
    #visual-novels
      a.category(href="#visual-novels") Visual Novels
      ul
        li.localized.completed Steins;Gate
        li.localized.completed Steins;Gate 0
        li.translated.completed Steins;Gate Octet of Spatial Mutation
        li.untranslated Steins;Gate Darling of Loving Vows
        li.localized.upcoming
          | Steins;Gate Linear Bounded Phenogram
          span.note (localization upcoming)
        li.localized.upcoming
          | Steins;Gate Elite
          span.note (localization upcoming)
        li.localized.upcoming
          | 8-bit ADV Steins;Gate
          span.note (localization upcoming)
    #anime
      a.category(href="#anime") Anime
      ul
        li.localized.completed Steins;Gate
        li.localized.completed Steins;Gate - Egoistic Poriomania
        li.localized.completed Steins;Gate - The Movie - Load Region of Déjà Vu
        li.localized.completed
          | Steins;Gate - The Sagacious Wisdom of Cognitive Computing
        li.localized.completed
          | Steins;Gate Episode 23(&beta;) - Open the Missing Link
        li.localized.completed Steins;Gate 0
        li.upcoming
          | Steins;Gate 0 Special
          span.note (upcoming)
    #manga
      a.category(href="#manga") Manga
      ul
        li.localized.completed Steins;Gate
        li.untranslated Steins;Gate - Burdened Domain of Déjà Vu
        li.translated.hiatus
          | Steins;Gate 0
          span.note (ongoing, translation on hiatus)
        li.translated.hiatus
          | Steins;Gate - Octet of Spatial Mutation
          span.note (translation on hiatus)
        li.translated.ongoing
          | Steins;Gate - Babel of the Grieved Maze
          span.note (translation ongoing)
        li.translated.completed Steins;Gate - Arc Light of the Point at Infinity
        li.translated.completed Steins;Gate - Rebellion of the Missing Ring
        li.translated.completed Steins;Gate - Brownian Motion of Love and Hate
        li.translated.completed Steins;Gate - Epigraph of the Closed Curve
        li.translated.discontinued
          | Steins;Gate - Pandora of Eternal Return
          span.note (discontinued)
        li.untranslated Steins;Gate Special Edition - Time Long Ago
        li.translated.hiatus
          | Steins;Gate - History's Strongest Light Fever
          span.note (translation on hiatus)
        li.translated.hiatus
          | Steins;Gate - Loving Vows of the Sweet Honey
          span.note (translation on hiatus)
        li.translated.ongoing
          | Steins;Gate - Loving Vows of the Future Honey
          span.note (translation ongoing)
        li.untranslated Steins;Gate - Loving Vows+Nyan² Crisis☆
        li.untranslated Steins;Gate - Stardust Duplet
        li.untranslated Steins⋅Gate!
        li.untranslated Steins;Gate - Drops
        li.translated.hiatus
          | Steins;Gate - Magi-Cu 4-koma - World Line Divergence x.091015%
          span.note (translation on hiatus)
        li.untranslated
          | Steins;Gate - Comic Fragments: Synopsis of Parallel Worlds
        li.untranslated
          | Steins;Gate - Comic Fragments: Narratology of the Forgetting Curve
        li.untranslated Steins;Gate - Comic Anthology: Time Traveler's Tale
        li.untranslated Steins;Gate - DNA Media Comic Anthology
        li.untranslated Steins;Gate 0 - Dengeki Comic Anthology
        li.untranslated Steins;Gate 0 - DNA Media Comic Anthology
    #light-novels
      a.category(href="#light-novels") Light Novels &amp; Short Stories
      ul
        li.untranslated Steins;Gate - Annularly-Chained Ouroboros
        li.translated.completed Steins;Gate - The Distant Valhalla
        li.untranslated Steins;Gate - Burdened Domain of Déjà Vu
        li.untranslated Steins;Gate Movie Side Stories
        li.untranslated Steins;Gate - Epigraph Trilogy
        li.translated.hiatus
          | Steins;Gate
          span.note (translation on hiatus)
        li.untranslated Steins;Gate - Octet of Spatial Mutation
        li.untranslated Steins;Gate - Undarling of Loving Vows
        li.untranslated Steins;Gate - Linear Bounded Mosaicism
        li.untranslated Steins;Gate - Babel of the Grieved Maze
        li.untranslated
          | Steins;Gate - Amity of Budding Reminiscence - This Side of Paradise
        li.untranslated Steins;Gate 0 - Promised Rinascimento
        li.untranslated Steins;Gate 0 - Solitude of the Mournful Flow
        li.untranslated
          | Science Adventure Series Maniacs -
          | Steins;Gate Official After Story - Holy Day of Scourge
        li.translated.partial
          | Chaos;Head x Steins;Gate Crossover - Chaos;Gate
          span.note (partially translated)
        li.untranslated
          | Science Adventure Series 5 Years Jubilee Crossover -
          | Tomorrow in the Box
    #dramas
      a.category(href="#dramas") Drama CDs &amp; Radio Shows
      ul
        li.translated.completed
          | Steins;Gate Drama CD &alpha; - Babel of the Grieved Maze
        li.translated.completed
          | Steins;Gate Drama CD &beta; - Arc Light of the Point at Infinity
        li.translated.completed
          | Steins;Gate Drama CD &gamma; - Hyde of the Dark Dimension
        li.translated.completed
          | Steins;Gate Comptiq Original Drama CD, July 2011
        li.translated.completed
          | Steins;Gate Comptiq Original Drama CD, October 2011
        li.translated.completed
          | Steins;Gate Comp Ace Original Drama CD, November 2011
        li.translated.completed
          | Steins;Gate Movie Drama CD - Inevitable Blushing Gossip
        li.untranslated
          | Steins;Gate Movie Drama CD - Fractal of Unexpressed Thought Material
        li.untranslated
          | Steins;Gate Movie Drama CD - A Posteriori Existence
        li.translated.completed
          | Steins;Gate Movie Drama CD -
          | Symphonia of Meanderings Hidden in Ambiguity
        li.translated.completed
          | Steins;Gate 0 - Rintaro Okabe Monologue -
          | Lyra of the New Dawn
        li.translated.completed
          | Steins;Gate 0 - Amadeus Kurisu Monologue -
          | Amadeus of the Silent Requiem
        li.translated.competed
          | Steins;Gate 0 – Shiina Mayuri Monologue –
          | Puddle of Tearful Rain
        li.translated.competed
          | Steins;Gate 0 – Makise Kurisu Monologue –
          | Aria of the Starlight
        li.untranslated
          | Steins;Gate 0 Drama CD - Paradise Lost in Adaptive Radiation
        li.untranslated Steins;Gate 0 Drama CD - Blended Coffee Encounter
        li.translated.ongoing
          | Steins;Gate Epigraph Trilogy Drama CDs
          span.note (translation ongoing)
        li.untranslated
          | Steins;Gate Epigraph of the Closed Curve Extract Scenes Drama CD
        li.translated.completed
          | Steins;Gate Drama CD - The Hashida Familia's Love and Affection
        li.translated.ongoing
          | Steins;Gate Drama CD - The Perpetually Infinite Hashida Concerto
          span.note (translation ongoing)
        li.translated.ongoing
          | Steins;Gate 0 Drama CD - Runaway of the free particles
          span.note (translation ongoing)
        li.translated.completed Steins;Gate Character Songs
        li.translated.completed
          | Steins;Gate Anthology Drama CD - Reunion of the Hallucinated Space
        li.untranslated
          | Steins;Gate Anthology Drama CD - Vacation of an Ephemeral Silhouette
        li.untranslated
          | Science Adventure Series Special Drama CD -
          | Triptych of an Abrupt Chain
        li.untranslated Steins;Gate - Future Gadget Radio Shows
        li.translated.completed Steins;Gate - Labmem Round Table Meetings
    #misc
      a.category(href="#misc") Misc
      ul
        li.translated.ongoing
          | Steins;Gate Stage Play - Living ADV
          span.note (translation ongoing)
        li.translated.completed
          | Steins;Gate Pachinko Machine - Inductance of World Rotation
        li.untranslated.unknown
          | Steins;Gate Pachinko Machine
          span.note (status unknown)
    #contrib
      a.category(href="#contrib") Contributors:
      ul
        +twitter('chronobserver', 'Observer of Time')
    +footer()

