- var url = "https://observeroftime.frama.io/tachiyomi-extensions/"

doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="refresh" content=`0; url=${url}`)
    link(rel="canonical" href=url)
    title Tachiyomi Extensions
  body.
    Click #[a(href=url) here]
    if you are not redirected automatically.
